<launch>

<param name = "robot_description" 
    command = "$(find xacro)/xacro --inorder '$(find robolab_miniproject)/urdf/rover_bot_xacro.xacro'"/>

<arg name = "x" default = "0"/>
<arg name = "y" default = "0"/>
<arg name = "z" default = "0.5"/>

<node name = "spawn_robolab_ugv" pkg = "gazebo_ros" type = "spawn_model" output = "screen"
    args = "-urdf -param robot_description -model rover_bot_xacro -x $(arg x) -y $(arg y) -z $(arg z)" />

<rosparam file = "$(find robolab_miniproject)/config/config.yaml" command = "load"/>
<node name = "controller_spawner" pkg = "robot_state_publisher" type

</launch>